.nav_bar_style{
    /*padding-left: 150px;*/
    padding : 0px 11%;
    box-shadow: 0px -2px 15px 0 #00000030;
}

.title{
    font-size: 36px;
    font-weight: bold;
    color: rgba(33, 150, 243, 0.95) !important;
    text-decoration-line: none !important;
}

.title:link{
    color: rgba(33, 150, 243, 0.95) !important;
    font-weight: bold !important;
    text-decoration-line: none;
}

.title:visited{
    color: rgba(33, 150, 243, 0.95) !important;
    font-weight: bold !important;
    text-decoration-line: none;
}

.title:hover{
    color: rgba(33, 150, 243, 0.95) !important;
    font-weight: bold !important;
    text-decoration-line: none;
}

.title:active{
    color: rgba(33, 150, 243, 0.95) !important;
    background-color: white !important;
    font-weight: bold !important;
    text-decoration-line: none;
}

a:link{
    font-weight: bold !important;
    text-decoration-line: none;
}

a:visited{
    font-weight: bold !important;
    text-decoration-line: none;
}

a:hover{
    color: rgba(33, 150, 243, 0.95) !important;
    background-color: white !important;
    font-weight: bold !important;
    text-decoration-line: none;
}

a:active{
    color: rgba(33, 150, 243, 0.95) important;
    background-color: white !important;
    font-weight: bold !important;
    text-decoration-line: none;
}

.a_button{
    color: black !important;
}

.a_button:link{
    color: black !important;
}

.a_button:visited{
    background-color: white;
    color: black !important;
}

.a_button:hover{
    font-weight: 400;
    color: #92C7FF !important;
}

.a_button:active{
    /*background-color: rgb(0 0 0 / 18%);*/
    color: #92C7FF !important;
}